
* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

/*--------------------- Navbar.---------------------------- */
.nav-bar {
  width: 100%;
  padding: 0px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.navbar-logo {
  width: 9.37rem;
  cursor: pointer;
}

.nav-bar ul .navbar-list {
  position: relative;
  right: 5rem;
  left: px;
  list-style: none;
  display: inline-block;
  margin: .938rem 0px 0px 3.125rem;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.navbar-list::after {
  content: '';
  height: 0.188rem;
  width: 0%;
  background-color: #3700ff;
  display: block;
  transition: .3s ease-in-out;
}

.navbar-list:hover:after {
  content: '';
  height: 0.188rem;
  width: 100%;
  background-color: rgb(255, 0, 0);
  display: block;
}

.nav-bar ul .navbar-list a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

#navbar-button {
  position: absolute;
  right: 0.625rem;
  top: 1.563rem;
  height: 35px;
  width: 80px;
  margin-right: 100px;
  padding: 0rem;
  background-color: rgb(243, 1, 1);
  border-radius: 1.25rem;
  border: none;
  transition: transform 0.4s;
  font-family: 'Poppins', sans-serif;
  color: aliceblue;
  font-size: 1.125em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

#navbar-button:hover {
  transform: scale(1.1);
}

.bg-01 {
  width: 100%;
  height: 135vh;
  background-image: url(img/background.jpg);
  background-position: center;
  background-size: cover;
}

/* Content */
.container-01-bg-01{
display: flex;
flex-direction: column;
justify-content: center;
align-items: none;
padding-left: 6%;
height: 43.75rem;
word-wrap: break-word;
}

 .child-head-01 {
  color: aliceblue;
  font-family: 'Poppins', sans-serif;
  font-size: 170%;
}

.child-head-02 {
  color: aliceblue;
  font-family: 'Poppins', sans-serif;
  font-size: 600%;
} 

#child-head-01-namaste {
  font-size: 103%;
  font-family: 'Kalam', cursive;
  font-weight: bold;
  color: rgb(255, 0, 0)246, 255;
}
#child-head-01-namaste:hover{
  display:none;
}

span {
  color: rgb(239, 11, 11);
}

/*--------------------- Services ---------------------------- */

.bg-02 {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 120vh;
}

.container-02-bg-02{
  display: flex;
  height: 300px;
flex-direction: row;
align-items: center;
justify-content: center;
word-wrap: initial;
flex-wrap: wrap;
}
.head1 {
  color: aliceblue;
  font-size: 370%;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

/* -----card 1 -------*/
.container-03-bg-02{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
margin-left: 6%;
  
  

}
.cardfirst {
  /* position: absolute;
  top: 190%;
  right: 67%; */
  width: 300px;
  height: 313px;
  background-image: linear-gradient(163deg, #3700ff 0%, #ff0000 100%);
  border-radius: 20px;
  transition: all .3s;
}

.cardsecond {
  width: 300px;
  height: 313px;
  background-color: #000000;
  border-radius: 19px;
  transition: all .2s;
}


.cardsecond {
  transform: scale(0.98);
  border-radius: 20px;
}

.cardfirst:hover {
  background-image: linear-gradient(163deg, #ff0000 0%, #3700ff 100%);
  box-shadow: 0px 0px 30px 1px rgb(255, 0, 0);
}

/* ISSUE */

/* -----card 2------- */
.subcardfirst {
  /* position: absolute;
  right: 37%;
  top: 190%; */
  width: 300px;
  height: 313px;
  background-image: linear-gradient(163deg, #ff0000 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all .3s;
}

.subcardsecond {
  width: 300px;
  height: 313px;
  background-color: #000000;
  border-radius: 19px;
  transition: all .2s;
}

.subcardsecond {
  transform: scale(0.98);
  border-radius: 20px;
}

.subcardfirst:hover {
  background-image: linear-gradient(163deg, #3700ff 0%, #ff0000 100%);
  box-shadow: 0px 0px 30px 1px rgb(255, 0, 0);
}


/* -----card 3-------*/
.card1 {
  /* position: absolute;
  top: 190%;
  right: 8%; */
  width: 300px;
  height: 313px;
  background-image: linear-gradient(163deg, #3700ff 0%, #ff0000 100%);
  border-radius: 20px;
  transition: all .3s;
}

.card2 {
  width: 300px;
  height: 313px;
  background-color: #000000;
  border-radius: 19px;
  transition: all .2s;
}

.card2 {
  transform: scale(0.98);
  border-radius: 20px;
}

.card1:hover {
  background-image: linear-gradient(163deg, #ff0000 0%, #3700ff 100%);
  box-shadow: 0px 0px 30px 1px rgb(255, 0, 0);
}



/*--------------------- Github ---------------------------- */
/* IISUE 2 */
.back3 {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 120vh;
}

.github_image{
  width: 45%;
  height: 90%;
  position: absolute;
  left: 50%;
  top: 260vh;
}
#mybButton {
  position: absolute;
  right: 0.625rem;
  top: 1.563rem;
  height: 35px;
  width: 80px;
  margin-right: 100px;
  padding: 0rem;
  background-color: rgb(243, 1, 1);
  border-radius: 1.25rem;
  border: none;
  transition: transform 0.4s;
  font-family: 'Poppins', sans-serif;
  color: aliceblue;
  font-size: 1.125em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

#mybButton:hover {
  transform: scale(1.1);
}
 .backgroundbuttoncard1 {
  position: absolute;
  left: 50%;
  right: 50%;
  top: 275%;
  width: 39rem;
  height: 27rem;
  background-image: linear-gradient(163deg, #ff0000 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all .3s;

}

.backgroundbuttoncard2 {
  width: 39rem;
  height: 27rem;
  background-image: url(img/github.png);
  background-size: 39rem 27rem;
  border-radius: 19px;
  transition: all .2s;
}

.backgroundbuttoncard2 {
  transform: scale(0.98);
  border-radius: 20px;
}

.backgroundbuttoncard1:hover {
  background-image: linear-gradient(163deg, #3700ff 0%, #ff0000 100%);
  box-shadow: 0px 0px 30px 1px rgb(255, 0, 0);
} 

/* IISUE 2 */

.contentlorem1 {
  position: absolute;
  top: 275%;
  left: 6%;
  color: aliceblue;
  font-size: 370%;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  padding-right: 50%;
  padding-bottom: 50%;
}

/* ----------about-------------- */

.banner2 {
  background-color: #000000;
  width: 100%;
  height: 125vh;
}

/* for-demontration */

 .aboutcontent {
  position: absolute;
  top:400%;
  right: 2%;
  left: 50%;
  text-align: right;
  color: aliceblue;
  font-size: 370%;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  padding-left: 5%;
} 



/* -----card 3-------*/
 .pkcard1{
  position: absolute;
  top: 400%;
  left: 6%;
  width: 300px;
  height: 420px;
  background-image: linear-gradient(163deg, #ff0000 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all .3s;
}

.pkcard2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 420px;
  background: #000000;
  border-radius: 20px;
  text-align: center;
  color: #f0f0f0;
  font-family: inherit;
  z-index: 1;
 }
 
 .img {
  display: flex;
  margin: 60px auto 10px auto;
  width: 75px;
  height: 75px;
  border: 1px solid #f0f0f0;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  z-index: 99;
  background-color: #000000;
 }
 
 #paragraph {
  opacity: 0;
  transition: all 0.5s;
 }
 
 #pkname {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  font-weight: 500;
  font-size: 25px;
 }
 
 .icon {
  padding: 0 5px;
  cursor: pointer;
 }
 
 .pkcard2 {
   transform: scale(0.98);
   border-radius: 20px;
  }
 .pkcard2:hover .img {
  transform: scale(1.1);
  border: 1px solid #f0f0f0;
 }
 
 .pkcard2:hover h1,
 .pkcard2:hover p {
  opacity: 1;
 }
  .pkcard1:hover {
   background-image: linear-gradient(163deg, #3700ff 0%, #ff0000 100%);
   box-shadow: 0px 0px 30px 1px rgb(255, 0, 0);
  } 

/* -----card 4-------*/

 .pdcard1 {
  position: absolute;
  top: 400%;
  left: 35%;
  width: 300px;
  height: 420px;
  background-image: linear-gradient(163deg, #ff0000 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all .3s;
  text-align: right;
}

.pdcard2 {
  width: 300px;
  height: 420px;
  background-color: #000000;
  border-radius: 19px;
  transition: all .2s;
}

.pdcard2 {
  transform: scale(0.98);
  border-radius: 20px;
}

.pdcard1:hover {
  background-image: linear-gradient(163deg, #3700ff 0%, #ff0000 100%);
  box-shadow: 0px 0px 30px 1px rgb(255, 0, 0);
} 

/*--------------------- contact us ---------------------------- */

.back5 {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 120vh;
}

.contentlorem3 {
  position: absolute;
  top:520%;
  left: 6%;
  padding-right: 50%;
  color: aliceblue;
  font-size: 370%;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;

} 


/* email or submit button css  */
.input {
  position: absolute;
  right: 2%;
  top: 550%;
  color: #ffffff;
  size: 90px;
  border-radius: 60px;
  padding: 40px;
  background-color: #000000;
  box-shadow: 6px 6px 12px #ffffff,
  -6px -6px 12px #c5c5c5;
  font-size:30px;
  font-weight: bold;
  width: 550px;
  height: 30px;
  outline-color: white;
  border-color: rgb(0, 0, 0);
 }
 
 .input:hover {
  
  place-content: "Enter your message!";
 }

 .buttoncard1 {
  position: absolute;
  right: 3%;
  top: 551%;
  width: 165px;
  height: 100px;
  background-image: linear-gradient(163deg, #ff0000 0%, #3700ff 100%);
  border-radius: 60px;
  transition: all .3s;
  
}
 .button{
  position: absolute;
  right: 3%;
  border-style: none;
  top: 551%;
  text-transform: uppercase;
  border-radius: 60px;
  padding: 0px;
  background-color: #ff0000;
  color: #ffffff;
font-family: 'Poppins', sans-serif;
  font-size: 27px;
  font-weight: bold;
  width: 165px;
  height: 100px;
  /* border-color:#3700ff; */
 }

 .buttoncard1  {
  background-image: linear-gradient(163deg, #3700ff 0%, #ff0000 100%);
  box-shadow: 0px 0px 30px 1px rgb(255, 0, 0); 
}  



/*--------------------- footer ---------------------------- */

.background{
  background-color: #000000;
  width: 100%;
  height: 20vh;
}

html{
    height: 100%;
}

body{
	font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

a{
    text-decoration: none;
}

footer{
    background-color: #000000;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    margin-top: auto;
}

footer .listfooter {
    list-style: none ;
    margin: 10px;
    display: inline-block;
}

.icons a{
    background: #000000;
    color: #272727;
    padding: 14px;
    font-size: 20px;
    border-radius: 100%;
    display: flex;
}
.icons a:hover{
    color: #ffffff;
    transition: 0.5s;
}

.menu a{
    color: #ffffff;
    text-transform: none;
}
.menu a:hover{
    color: #52527a;
    transition: 0.5s;
}

.footer-copyright{
  color: #ffffff;
font-size:8px;
  margin-top: 12px;
  padding-bottom:15px ;
  text-transform: none;
  text-align: right;
}


/* .footer-copyright{

    color: #ff0000;
    padding: 15px;
    margin-top: 30px;
    text-transform: capitalize;
}

.footer-copyright p{
    margin-bottom: 0px;
} */

/* -------------------media------------------------ */
