/*--------------------- footer ---------------------------- */

.background{
    background-color: #000000;
    width: 100%;
    height: 20vh;
  }
  
  html{
      height: 100%;
  }
  
  body{
      font-family: 'Open Sans', sans-serif;
      display: flex;
      flex-direction: column;
      min-height: 100%;
  }
  
  a{
      text-decoration: none;
  }
  
  footer{
      background-color: #000000;
      text-align: center;
      text-transform: uppercase;
      padding-top: 30px;
      margin-top: auto;
  }
  
  footer .listfooter {
      list-style: none ;
      margin: 10px;
      display: inline-block;
  }
  
  .icons a{
      background: #000000;
      color: #272727;
      padding: 14px;
      font-size: 20px;
      border-radius: 100%;
      display: flex;
  }
  .icons a:hover{
      color: #ffffff;
      transition: 0.5s;
  }
  
  .menu a{
      color: #ffffff;
      text-transform: none;
  }
  .menu a:hover{
      color: #52527a;
      transition: 0.5s;
  }
  
  .footer-copyright{
    color: #ffffff;
  font-size:8px;
    margin-top: 12px;
    padding-bottom:15px ;
    text-transform: none;
    text-align: right;
  }
  
  
  /* .footer-copyright{
  
      color: #ff0000;
      padding: 15px;
      margin-top: 30px;
      text-transform: capitalize;
  }
  
  .footer-copyright p{
      margin-bottom: 0px;
  } */