/*--------------------- Github ---------------------------- */
/* IISUE 2 */
.back3 {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 120vh;
  }
  
  .github_image{
    width: 45%;
    height: 90%;
    /* position: absolute;
    left: 50%;
    top: 260vh; */
  }
  #mybButton {
    /* position: absolute;
    right: 0.625rem;
    top: 1.563rem; */
    height: 35px;
    width: 80px;
    margin-right: 100px;
    padding: 0rem;
    background-color: rgb(243, 1, 1);
    border-radius: 1.25rem;
    border: none;
    transition: transform 0.4s;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    font-size: 1.125em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  }
  
  #mybButton:hover {
    transform: scale(1.1);
  }
   .backgroundbuttoncard1 {
    /* position: absolute;
    left: 50%;
    right: 50%;
    top: 275%; */
    width: 39rem;
    height: 27rem;
    background-image: linear-gradient(163deg, #ff0000 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
  
  }
  
  .backgroundbuttoncard2 {
    width: 39rem;
    height: 27rem;
    background-image: url(img/github.png);
    background-size: 39rem 27rem;
    border-radius: 19px;
    transition: all .2s;
  }
  
  .backgroundbuttoncard2 {
    transform: scale(0.98);
    border-radius: 20px;
  }
  
  .backgroundbuttoncard1:hover {
    background-image: linear-gradient(163deg, #3700ff 0%, #ff0000 100%);
    box-shadow: 0px 0px 30px 1px rgb(255, 0, 0);
  } 
  
  /* IISUE 2 */
  
  .contentlorem1 {
    /* position: absolute;
    top: 275%;
    left: 6%; */
    color: aliceblue;
    font-size: 370%;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    padding-right: 50%;
    padding-bottom: 50%;
  }