
* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

/*--------------------- Navbar.---------------------------- */
.nav-bar {
  width: 100%;
  padding: 0px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.navbar-logo {
  width: 9.37rem;
  cursor: pointer;
}

.nav-bar ul .navbar-list {
  /* position: relative;
  right: 5rem;
  left: px; */
  list-style: none;
  display: inline-block;
  margin: .938rem 0px 0px 3.125rem;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.navbar-list::after {
  content: '';
  height: 0.188rem;
  width: 0%;
  background-color: #3700ff;
  display: block;
  transition: .3s ease-in-out;
}

.navbar-list:hover:after {
  content: '';
  height: 0.188rem;
  width: 100%;
  background-color: rgb(255, 0, 0);
  display: block;
}

.nav-bar ul .navbar-list a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

#navbar-button {
  /* position: absolute;
  right: 0.625rem;
  top: 1.563rem; */
  height: 35px;
  width: 80px;
  margin-right: 100px;
  padding: 0rem;
  background-color: rgb(243, 1, 1);
  border-radius: 1.25rem;
  border: none;
  transition: transform 0.4s;
  font-family: 'Poppins', sans-serif;
  color: aliceblue;
  font-size: 1.125em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

#navbar-button:hover {
  transform: scale(1.1);
}

.bg-01 {
  width: 100%;
  height: 135vh;
  background-image: url(style_img/bg.jpg);
  background-position: center;
  background-size: cover;
}

/* Content */
.container-01-bg-01{
display: flex;
flex-direction: column;
justify-content: center;
align-items: none;
padding-left: 6%;
height: 43.75rem;
word-wrap: break-word;
}

 .child-head-01 {
  color: aliceblue;
  font-family: 'Poppins', sans-serif;
  font-size: 170%;
}

.child-head-02 {
  color: aliceblue;
  font-family: 'Poppins', sans-serif;
  font-size: 600%;
} 

#child-head-01-namaste {
  font-size: 103%;
  font-family: 'Kalam', cursive;
  font-weight: bold;
  color: rgb(255, 0, 0)246, 255;
}
#child-head-01-namaste:hover{
  display:none;
}

span {
  color: rgb(239, 11, 11);
}




