/*--------------------- Services ---------------------------- */

.bg-02 {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 120vh;
  }
  
  .container-02-bg-02{
    display: flex;
    height: 300px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  word-wrap: initial;
  flex-wrap: wrap;
  }
  .head1 {
    color: aliceblue;
    font-size: 370%;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    text-align: center;
  }
  
  /* -----card 1 -------*/
  .container-03-bg-02{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
  margin-left: 6%;
  
  }
  .cardfirst {
    /* position: absolute;
    top: 190%;
    right: 67%; */
    width: 300px;
    height: 313px;
    background-image: linear-gradient(163deg, #3700ff 0%, #ff0000 100%);
    border-radius: 20px;
    transition: all .3s;
  }
  
  .cardsecond {
    width: 300px;
    height: 313px;
    background-color: #000000;
    border-radius: 19px;
    transition: all .2s;
  }
  
  
  .cardsecond {
    transform: scale(0.98);
    border-radius: 20px;
  }
  
  .cardfirst:hover {
    background-image: linear-gradient(163deg, #ff0000 0%, #3700ff 100%);
    box-shadow: 0px 0px 30px 1px rgb(255, 0, 0);
  }
  
  /* ISSUE */
  
  /* -----card 2------- */
  .subcardfirst {
    /* position: absolute;
    right: 37%;
    top: 190%; */
    width: 300px;
    height: 313px;
    background-image: linear-gradient(163deg, #ff0000 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
  }
  
  .subcardsecond {
    width: 300px;
    height: 313px;
    background-color: #000000;
    border-radius: 19px;
    transition: all .2s;
  }
  
  .subcardsecond {
    transform: scale(0.98);
    border-radius: 20px;
  }
  
  .subcardfirst:hover {
    background-image: linear-gradient(163deg, #3700ff 0%, #ff0000 100%);
    box-shadow: 0px 0px 30px 1px rgb(255, 0, 0);
  }
  
  
  /* -----card 3-------*/
  .card1 {
    /* position: absolute;
    top: 190%;
    right: 8%; */
    width: 300px;
    height: 313px;
    background-image: linear-gradient(163deg, #3700ff 0%, #ff0000 100%);
    border-radius: 20px;
    transition: all .3s;
  }
  
  .card2 {
    width: 300px;
    height: 313px;
    background-color: #000000;
    border-radius: 19px;
    transition: all .2s;
  }
  
  .card2 {
    transform: scale(0.98);
    border-radius: 20px;
  }
  
  .card1:hover {
    background-image: linear-gradient(163deg, #ff0000 0%, #3700ff 100%);
    box-shadow: 0px 0px 30px 1px rgb(255, 0, 0);
  }